version: '2'

services:
  opal-service-auth-provider-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmcts/opal-service-auth-provider-app
    container_name: opal-service-auth-provider-api
    environment:
        - jwtKey=wThK0f0/lh3FlxFcL4xUWDMI5C1J9KyQBgXV4wseh1e5J1uYJIjvTvArHxQDrYoHJ23xFxjHkOnvNbR5dXRoxA==
        - microserviceKeys_divorce=AAAAAAAAAAAAAAAA
        - microserviceKeys_opal_external_api=CJAQXWUGSFMFK2GR
    ports:
     - 8489:8489
