version: '2'

services:
  service-auth-provider-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: docker.artifactory.reform.hmcts.net/auth/service-auth-provider-api
    container_name: service-auth-provider-api
    environment:
        - auth_provider_service_server_jwtKey=wThK0f0/lh3FlxFcL4xUWDMI5C1J9KyQBgXV4wseh1e5J1uYJIjvTvArHxQDrYoHJ23xFxjHkOnvNbR5dXRoxA==
        - auth_provider_service_server_microserviceKeys_divorce=AAAAAAAAAAAAAAAA
    ports:
     - 8080:8080
